@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Lato', sans-serif;
}
.hide-scrollbar::-webkit-scrollbar{
  display: none;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #17063B;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #4b4bce;
  border-radius: 8px;
}
.customSearch:focus{
  box-shadow: rgb(23 6 59 / 16%) 4px 14px 13px 0px ;
  transition: all 0.3s;
}